*.class
build/classes/traceanalyser/resources/attention.png
build/classes/traceanalyser/resources/attention2.png
build/classes/traceanalyser/resources/Move.png
build/classes/traceanalyser/resources/TraceAnalyserRB.properties
build/classes/traceanalyser/resources/warn.png
build/classes/traceanalyser/TraceAnalyser.fxml